body{
    background-color: #EDEDED;
}

fieldset {
    overflow: hidden
}
  
.some-class {
    float: left;
    clear: none;
}
  
label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}
  
input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin-top: auto;
    margin-bottom: auto;
}

.comparison-holder{
    display:flex;
    flex-direction: row;
}
.comparison-holder *{
    margin:10px;
}
.green{
    color:green;
}
.red{
    color:red;
}

.page-content{
    margin-top: 50px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

.header{
    font-weight: 800;
}

.query-row{
    display: flex;
    align-content: center;
    justify-content: left;
    padding:10px;
    margin:5px;
    background-color: #FFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
}